﻿<%@ Page Title="Well Profile Generator" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="fecWellProfile_2A.aspx.cs" Inherits="SmartsVer1.WellProfile.fecWellProfile_2A" %>

<%@ Register Src="~/Control/WellProfile/ctrlWellProfile.ascx" TagPrefix="uc1" TagName="ctrlWellProfile" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlWellProfile runat="server" ID="ctrlWellProfile" />
</asp:Content>
