﻿<%@ Page Title="SMART Operations" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="fecDROpr_2A.aspx.cs" Inherits="SmartsVer1.Config.Opr.fecDROpr_2A" %>

<%@ Register Src="~/Control/Config/Opr/ctrlClientOpr_2A.ascx" TagPrefix="uc1" TagName="ctrlClientOpr_2A" %>


<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlClientOpr_2A runat="server" id="ctrlClientOpr_2A" />
</asp:Content>
