﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="fesDROpr_2A.aspx.cs" Inherits="SmartsVer1.Config.Opr.fesDROpr_2A" %>

<%@ Register Src="~/Control/Config/Opr/ctrlFEOpr_2A.ascx" TagPrefix="uc1" TagName="ctrlFEOpr" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlFEOpr runat="server" ID="ctrlFEOpr_2A" />
</asp:Content>
