﻿<%@ Page Title="Anti Collision Center to Center " Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="fecAcCenter2Analysis.aspx.cs" Inherits="SmartsVer1.Services.fecAcCenter2Analysis" %>

<%@ Register Src="~/Control/Services/ctrlFECenter2Analysis.ascx" TagPrefix="uc1" TagName="ctrlFECenter2Analysis" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlFECenter2Analysis runat="server" id="ctrlFECenter2Analysis" />
</asp:Content>