﻿<%@ Page Title="SMARTs Review" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="fecDataComparison.aspx.cs" Inherits="SmartsVer1.Services.fecDataComparison" %>

<%@ Register Src="~/Control/Services/ctrlFECComparison_2A.ascx" TagPrefix="uc1" TagName="ctrlFECComparison_2A" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlFECComparison_2A runat="server" id="ctrlFECComparison_2A" />
</asp:Content>
