﻿<%@ Page Title="Audited Data Review" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="fecDataReview_2A.aspx.cs" Inherits="SmartsVer1.Services.fecDataReview_2A" %>

<%@ Register Src="~/Control/Services/ctrlFECDataReview_2A.ascx" TagPrefix="uc1" TagName="ctrlFECDataReview_2A" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlFECDataReview_2A runat="server" id="ctrlFECDataReview_2A" />
</asp:Content>
