﻿<%@ Page Title="Data Audit/QC" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="fecQCMin.aspx.cs" Inherits="SmartsVer1.Services.fecQCMin" %>

<%@ Register Src="~/Control/Services/ctrlQCMin.ascx" TagPrefix="uc1" TagName="ctrlQCMin" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlQCMin runat="server" id="ctrlQCMin" />
</asp:Content>
