﻿<%@ Page Title="Data Audit/QC" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="fecRawSMART.aspx.cs" Inherits="SmartsVer1.Services.fecRawSMART" %>

<%@ Register Src="~/Control/Services/ctrlRawQC_2A.ascx" TagPrefix="uc1" TagName="ctrlRawQC_2A" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlRawQC_2A runat="server" id="ctrlRawQC_2A" />
</asp:Content>
