﻿<%@ Page Title="Data Audit/QC Admin Review" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="fecRemoveData_2A.aspx.cs" Inherits="SmartsVer1.Services.fecRemoveData_2A" %>

<%@ Register Src="~/Control/Services/ctrlRemoveData_2A.ascx" TagPrefix="uc1" TagName="ctrlRemoveData_2A" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlRemoveData_2A runat="server" id="ctrlRemoveData_2A" />
</asp:Content>
