﻿<%@ Page Title="SMARTs Services" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="fesDRServices_2A.aspx.cs" Inherits="SmartsVer1.Services.fesDRServices_2A" %>

<%@ Register Src="~/Control/Services/ctrlSMARTs_2A.ascx" TagPrefix="uc1" TagName="ctrlSMARTs_2A" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlSMARTs_2A runat="server" id="ctrlSMARTs_2A" />
</asp:Content>
