﻿<%@ Page Title="Sales Configuration" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="fesSLConfig_2A.aspx.cs" Inherits="SmartsVer1.Config.Sales.fesSLConfig_2A" %>

<%@ Register Src="~/Control/Config/Sales/ctrlSalesConfig.ascx" TagPrefix="uc1" TagName="ctrlSalesConfig" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlSalesConfig runat="server" ID="ctrlSalesConfig" />
</asp:Content>
