﻿<%@ Page Title="SMARTs Panel" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="crdViewer2.aspx.cs" Inherits="SmartsVer1.Viewer.crdViewer2" %>

<%@ Register Src="~/Control/Viewer/ctrlCRDViewer2.ascx" TagPrefix="uc1" TagName="ctrlCRDViewer2" %>

<asp:Content ID="Content2" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlCRDViewer2 runat="server" ID="ctrlCRDViewer2" />
</asp:Content>
