﻿<%@ Page Title="SMARTs Panel" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="rwrViewer_2A.aspx.cs" Inherits="SmartsVer1.Viewer.rwrViewer_2A" %>

<%@ Register Src="~/Control/Viewer/ctrlRWRViewer_2A.ascx" TagPrefix="uc1" TagName="ctrlRWRViewer_2A" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlRWRViewer_2A runat="server" id="ctrlRWRViewer_2A" />
</asp:Content>
