﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ctrlSalesConfig.ascx.cs" Inherits="SmartsVer1.Control.Config.Sales.ctrlSalesConfig" %>
<asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
<!--  Stylesheet -->
<link href="../../../Content/SWD/feGridview.css" rel="stylesheet" />
<link href="../../../Content/Bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="../../../Content/Font-Awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="../../../Content/IonIcons/css/ionicons.min.css" rel="stylesheet" />
<link href="../../../Content/AdminLTE/AdminLTE.min.css" rel="stylesheet" />
<link href="../../../Content/Skins/css/skin-blue.min.css" rel="stylesheet" />
<!-- Javascript -->
<script src="../../../Scripts/Bootstrap/jQuery/jquery.min.js"></script>
<script src="../../../Scripts/Bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../../Scripts/Bootstrap/AdminLTE/dist/js/adminlte.min.js"></script>

<!--- Page local style --->
<style type="text/css">
    .rtAligned {
        text-align: right;
    }

    .rotate {
        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
        -moz-transform: rotate(90deg); /* Firefox */
        -ms-transform: rotate(90deg); /* IE 9 */
        transform: rotate(90deg); /* Standard syntax */
    }

    .swdMenu {
        color: #ffffff;
    }

    a.disabled {
        pointer-events: none;
        cursor: default;
    }

    ol.stepper {
        display: table;
        list-style-type: none;
        margin: 0;
        padding: 0;
        table-layout: fixed;
        width: 100%;
    }

        ol.stepper li {
            display: table-cell;
            text-align: center;
            line-height: 3em;
        }

        ol.stepper[data-stepper-steps="2"] li {
            width: 49%;
        }

        ol.stepper[data-stepper-steps="3"] li {
            width: 33%;
        }

        ol.stepper[data-stepper-steps="4"] li {
            width: 24%;
        }

        ol.stepper[data-stepper-steps="5"] li {
            width: 19%;
        }

        ol.stepper[data-stepper-steps="6"] li {
            width: 16%;
        }

        ol.stepper[data-stepper-steps="7"] li {
            width: 14%;
        }

        ol.stepper[data-stepper-steps="8"] li {
            width: 12%;
        }

        ol.stepper[data-stepper-steps="9"] li {
            width: 11%;
        }

        ol.stepper li.stepper-done {
            color: black;
            border-bottom: 4px solid yellowgreen;
        }

        ol.stepper li.stepper-todo {
            color: silver;
            border-bottom: 4px solid silver;
        }

        ol.stepper li:after {
            content: "\00a0\00a0";
        }

        ol.stepper li:before {
            position: relative;
            bottom: -2.5em;
            float: left;
            left: 50%;
            line-height: 1em;
        }

        ol.stepper li.stepper-done:before {
            content: "\2713";
            color: white;
            background-color: yellowgreen;
            height: 1.2em;
            width: 1.2em;
            line-height: 1.2em;
            border: none;
            border-radius: 1.2em;
        }

        ol.stepper li.stepper-todo:before {
            content: "\039F";
            color: silver;
            background-color: white;
            font-size: 1.5em;
            bottom: -1.6em;
        }    
</style>
<!--- Page local script --->
<script type="text/javascript">
    $(document).ready(function () {
        // Add minus icon for collapse element which is open by default
        $(".collapse.in").each(function () {
            $(this).siblings(".panel-heading").find(".glyphicon").addClass("rotate");
        });

        // Toggle plus minus icon on show hide of collapse element
        $(".collapse").on('show.bs.collapse', function () {
            $(this).parent().find(".glyphicon").addClass("rotate");
        }).on('hide.bs.collapse', function () {
            $(this).parent().find(".glyphicon").removeClass("rotate");
        });
    });
</script>

<!--- Page Menu --->
<div class="row bg-black">
    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1" style="padding-bottom:2px;padding-left:2px;padding-top:2px">
        <asp:Image ID="imgLogo" runat="server" ImageAlign="Right" ImageUrl="~/Images/SWDLogo_90.png" AlternateText="SMARTs Logo" />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 align-left">
        <asp:Literal ID="ltrMenuLiteral" runat="server"></asp:Literal>
    </div>
</div>
<div class="row bg-black">    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: right;">
        <asp:LoginView ID='LoginView1' runat='server'>
            <AnonymousTemplate>
                <li style="vertical-align: middle; display: table-cell;">
                    <asp:HyperLink ID="hlnkLogIn" runat='server' NavigateUrl='~/Account/SMARTAccess2.aspx' Text='Login' Font-Size="Medium" Font-Names="Segoe UI"
                        ForeColor="White"><span class='fa fa-sign-in'></span> Login</asp:HyperLink>
                </li>
            </AnonymousTemplate>
            <LoggedInTemplate>
                <li style="list-style-type: none; list-style-image: none; margin-right: 15px;">
                    ( <asp:LoginName ID="LoginName1" runat="server" /> )                    
                    <asp:LoginStatus ID='LoginStatus1' runat='server' CssClass='fa fa-sign-out' LogoutAction='Redirect'
                        LogoutText=' Logout' LogoutPageUrl='~/SWDHome.aspx' ForeColor="White" Font-Size="Medium" Font-Underline="True"></asp:LoginStatus>
                </li>
            </LoggedInTemplate>            
        </asp:LoginView>        
    </div>    
</div>
<!--- Page Breadcrumb --->
<div class="row bg-white">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">        
        <div class="box-tools pull-right">
            <ol class="breadcrumb">
                <li><a href="../../../Viewer/crdViewer2.aspx"><i class="fa fa-dashboard"></i> SMARTs Panel</a></li>
                <li>Configuration</li>
                <li><a href="../../../Config/Sales/fesSLConfig_2A.aspx"> Sales Configuration</a></li>
            </ol>
        </div>
    </div>    
</div>

<!-- Page Content -->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row bg-white">

        <asp:UpdateProgress ID="upgrsSMChannel" runat="server" DisplayAfter="0" AssociatedUpdatePanelID="upnlSMChannel">
            <ProgressTemplate>
                <div id="divSMChannelProcess" runat="server" class="overlay" style="width: 100%; height: 100%; vertical-align: middle; text-align: center;
                    z-index: 100;">
                    <asp:Image ID="imgSMChannelProcessing" runat="server" CssClass="center" ImageUrl="~/Images/Progress.gif" />
                </div>
            </ProgressTemplate>
        </asp:UpdateProgress>
        <asp:UpdatePanel ID="upnlSMChannel" runat="server">
            <ContentTemplate>
                <div id="divChlList" runat="server" class="viewer divShadow" style="width: 99.1%">
                    <asp:Label ID="lblSMChannelListHeader" runat="server" CssClass="genLabel" Width="99.6%" Text="List of Sales & Marketing Channels" />
                    <asp:GridView ID="gvwChlList" runat="server" AutoGenerateColumns="False" DataKeyNames="chlID" AllowPaging="True" AllowSorting="True"
                        CssClass="mydatagrid" EmptyDataText="No Sales & Marketing Channels Found." ShowHeaderWhenEmpty="true" Width="99.6%" AlternatingRowStyle-CssClass="AlternatingRowStyle"
                        PageSize="15" HeaderStyle-CssClass="header" PagerStyle-CssClass="pager" RowStyle-CssClass="rows" OnPageIndexChanging="gvwChlList_PageIndexChanging">
                        <Columns>
                            <asp:BoundField DataField="chlID" Visible="false" />
                            <asp:BoundField DataField="chlName" HeaderText="Sales & Marketing Channel" />
                            <asp:BoundField DataField="chlDesc" HeaderText="Description" />
                        </Columns>
                    </asp:GridView>
                    <asp:Button runat="server" ID="btnAddChl" CssClass="red btn" Width="25%" Text="Add New S&M Channel" OnClick="btnAddChl_Click" />
                    <asp:Button runat="server" ID="btnClearChlList" CssClass="red btn" Width="15%" Text="Cancel" OnClick="btnClearChlList_Click" />
                </div>
                <div id="divChlAdd" runat="server" class="viewer divShadow" style="width: 99.1%" visible="false">
                    <asp:Label ID="lblChlAddHeader" runat="server" CssClass="genLabel" Width="99.6%" Text="Add New Sales & Marketing Channel" />
                    <asp:Label ID="lblChlName" runat="server" CssClass="txtLabel" Width="20%" Text="Sales & Marketing Channel Name" />
                    <asp:TextBox ID="txtChlName" runat="server" CssClass="genTextBox" Width="70%" Text="" />
                    <asp:RequiredFieldValidator ID="rfvChlName" runat="server" ControlToValidate="txtChlName" ErrorMessage="*" ForeColor="Maroon"
                        SetFocusOnError="true" Display="Dynamic" />
                    <asp:Label ID="lblChlDesc" runat="server" CssClass="txtLabel" Width="20%" Text="Description" />
                    <asp:TextBox ID="txtChlDesc" runat="server" CssClass="genTextBox" Width="70%" Text="" />
                    <br />
                    <asp:Label runat="server" ID="lblChlSuccess" CssClass="lblSuccess" Width="99.6%" Text="" Visible="false" />
                    <br />
                    <asp:Button runat="server" ID="btnAddNewChl" CssClass="red btn" Width="25%" Text="Add Channel" OnClick="btnAddNewChl_Click" />
                    <asp:Button runat="server" ID="btnAddNewChlClear" CssClass="red btn" Width="15%" Text="Clear Value" OnClick="btnAddNewChlClear_Click"
                        CausesValidation="false" />
                </div>
                <asp:Button runat="server" ID="btnAddNewChlDone" CssClass="red btn" Width="15%" Text="Done" Visible="false" OnClick="btnAddNewChlDone_Click"
                    CausesValidation="false" />
            </ContentTemplate>
        </asp:UpdatePanel>
    </div>
    <div id="divLinkedStatusDialog" runat="server" class="viewer" style="width: 98.5%;">

        <asp:UpdateProgress ID="uprgrsLinkedStatus" runat="server" DisplayAfter="0" AssociatedUpdatePanelID="upnlLinkedStatus">
            <ProgressTemplate>
                <div id="divLinkedStatusProcess" runat="server" class="overlay" style="width: 100%; height: 100%; vertical-align: middle;
                    text-align: center; z-index: 100;">
                    <asp:Image ID="imgLinkedStatusProcessing" runat="server" CssClass="center" ImageUrl="~/Images/Progress.gif" />
                </div>
            </ProgressTemplate>
        </asp:UpdateProgress>
        <asp:UpdatePanel ID="upnlLinkedStatus" runat="server">
            <ContentTemplate>
                <div id="divLinkedStatusList" runat="server" class="viewer divShadow" style="width: 99.1%">
                    <asp:Label ID="lblLinkedStatusListHeader" runat="server" CssClass="genLabel" Width="99.6%" Text="LinkedIn Connection Status List" />
                    <asp:GridView ID="gvwLinkedStatus" runat="server" AutoGenerateColumns="False" DataKeyNames="conID" AllowPaging="True" AllowSorting="True"
                        CssClass="mydatagrid" EmptyDataText="No LinkedIn Connection Status Found." ShowHeaderWhenEmpty="true" Width="99.6%" AlternatingRowStyle-CssClass="AlternatingRowStyle"
                        PageSize="15" HeaderStyle-CssClass="header" PagerStyle-CssClass="pager" RowStyle-CssClass="rows" OnPageIndexChanging="gvwLinkedStatus_PageIndexChanging">
                        <Columns>
                            <asp:BoundField DataField="conID" Visible="false" />
                            <asp:BoundField DataField="conName" HeaderText="Connection Status" />
                            <asp:BoundField DataField="conDesc" HeaderText="Description" />
                        </Columns>
                    </asp:GridView>
                    <asp:Button runat="server" ID="btnACNew" CssClass="red btn" Width="25%" Text="Add New Status" OnClick="btnACNew_Click" />
                    <asp:Button runat="server" ID="btnACCancel" CssClass="red btn" Width="15%" Text="Cancel" OnClick="btnACCancel_Click" />
                </div>
                <div id="divLinkedStatusAdd" runat="server" class="viewer divShadow" style="width: 99.1%" visible="false">
                    <asp:Label ID="lblLinkedStatusAddHeader" runat="server" CssClass="genLabel" Width="99.6%" Text="Add New LinkedIn Connection Status" />
                    <asp:Label ID="lblLSAValue" runat="server" CssClass="txtLabel" Width="20%" Text="LinkedIn Status Name" />
                    <asp:TextBox ID="txtLSAValue" runat="server" CssClass="genTextBox" Width="70%" Text="" />
                    <asp:RequiredFieldValidator ID="rfvLSAValue" runat="server" ControlToValidate="txtLSAValue" ErrorMessage="*" ForeColor="Maroon"
                        SetFocusOnError="true" Display="Dynamic" />
                    <asp:Label ID="lblLSADesc" runat="server" CssClass="txtLabel" Width="20%" Text="Description" />
                    <asp:TextBox ID="txtLSADesc" runat="server" CssClass="genTextBox" Width="70%" Text="" />
                    <br />
                    <asp:Label runat="server" ID="lblLSASuccess" CssClass="lblSuccess" Width="99.6%" Text="" Visible="false" />
                    <br />
                    <asp:Button runat="server" ID="btnLSANew" CssClass="red btn" Width="25%" Text="Add Status" OnClick="btnLSANew_Click" />
                    <asp:Button runat="server" ID="btnLSAClear" CssClass="red btn" Width="15%" Text="Clear Value" OnClick="btnLSAClear_Click"
                        CausesValidation="false" />
                </div>
                <asp:Button runat="server" ID="btnLSADone" CssClass="red btn" Width="15%" Text="Done" Visible="false" OnClick="btnLSADone_Click"
                    CausesValidation="false" />
            </ContentTemplate>
        </asp:UpdatePanel>
    </div>
</div>
