﻿<%@ Page Title="S&M Campaigns" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="Campaign_2A.aspx.cs" Inherits="SmartsVer1.Marketing.Campaign_2A" %>

<%@ Register Src="~/Control/Marketing/ctrlCampaign.ascx" TagPrefix="uc1" TagName="ctrlCampaign" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlCampaign runat="server" ID="ctrlCampaign" />
</asp:Content>
