﻿<%@ Page Title="S&M Leads" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="Leads_2A.aspx.cs" Inherits="SmartsVer1.Marketing.Leads_2A" %>

<%@ Register Src="~/Control/Marketing/ctrlLeads.ascx" TagPrefix="uc1" TagName="ctrlLeads" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlLeads runat="server" ID="ctrlLeads" />
</asp:Content>
