﻿<%@ Page Title="Demographics" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="fecCRDDemogs_2A.aspx.cs" Inherits="SmartsVer1.Config.Demogs.fecCRDDemogs_2A" %>

<%@ Register Src="~/Control/Config/Demogs/ctrlFECDemogs_2A.ascx" TagPrefix="uc1" TagName="ctrlFECDemogs_2A" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlFECDemogs_2A runat="server" id="ctrlFECDemogs_2A" />
</asp:Content>
