﻿<%@ Page Title="Database Server Configs." Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="fesDBServer_2A.aspx.cs" Inherits="SmartsVer1.Config.DBServer.fesDBServer_2A" %>

<%@ Register Src="~/Control/Config/DBServer/ctrlDBServer_2A.ascx" TagPrefix="uc1" TagName="ctrlDBServer" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlDBServer runat="server" ID="ctrlDBServer_2A" />
</asp:Content>
