﻿<%@ Page Title="Manage Well/Lateral Logs" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="feManageLogs_2A.aspx.cs" Inherits="SmartsVer1.LogPrint.feManageLogs_2A" %>

<%@ Register Src="~/Control/LogPrint/ctrlManageLogs.ascx" TagPrefix="uc1" TagName="ctrlManageLogs" %>


<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlManageLogs runat="server" id="ctrlManageLogs" />
</asp:Content>
