﻿<%@ Page Title="Track Log Print Orders" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="feOrderTracker_2A.aspx.cs" Inherits="SmartsVer1.LogPrint.feOrderTracker_2A" %>

<%@ Register Src="~/Control/LogPrint/ctrlOrderTracker.ascx" TagPrefix="uc1" TagName="ctrlOrderTracker_2A" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlOrderTracker_2A runat="server" id="ctrlOrderTracker" />
</asp:Content>
