﻿<%@ Page Title="Order Log Prints" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="fePrintOrderLogs_2A.aspx.cs" Inherits="SmartsVer1.LogPrint.fePrintOrderLogs_2A" %>

<%@ Register Src="~/Control/LogPrint/ctrlPrintOrderLogs.ascx" TagPrefix="uc1" TagName="ctrlPrintOrderLogs_2A" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlPrintOrderLogs_2A runat="server" ID="ctrlPrintOrderLogs" />
</asp:Content>
