﻿<%@ Page Title="Process Order" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="feProcessOrder_2A.aspx.cs" Inherits="SmartsVer1.LogPrint.feProcessOrder_2A" %>

<%@ Register Src="~/Control/LogPrint/ctrlProcessOrder_2A.ascx" TagPrefix="uc1" TagName="ctrlProcessOrder_2A" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlProcessOrder_2A runat="server" id="ctrlProcessOrder_2A" />
</asp:Content>
