﻿<%@ Page Title="Review  Well/Lateral Logs" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="feReviewLogs_2A.aspx.cs" Inherits="SmartsVer1.LogPrint.feReviewLogs_2A" %>

<%@ Register Src="~/Control/LogPrint/ctrlReviewLogs.ascx" TagPrefix="uc1" TagName="ctrlReviewLogs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlReviewLogs runat="server" id="ctrlReviewLogs" />
</asp:Content>
