﻿<%@ Page Title="Trend Analysis" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="fesDRTrendAnalysis_2A.aspx.cs" Inherits="SmartsVer1.Config.TA.fesDRTrendAnalysis_2A" %>

<%@ Register Src="~/Control/Config/TA/ctrlFETrendAnalysis.ascx" TagPrefix="uc1" TagName="ctrlFETrendAnalysis" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlFETrendAnalysis runat="server" ID="ctrlFETrendAnalysis" />
</asp:Content>
