﻿<%@ Page Title="Account Profile" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="fecCRDManage_2A.aspx.cs" Inherits="SmartsVer1.Account.fecCRDManage_2A" %>

<%@ Register Src="~/Control/Account/ctrlCRDManage_2A.ascx" TagPrefix="uc1" TagName="ctrlCRDManage_2A" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlCRDManage_2A runat="server" id="ctrlCRDManage_2A" />
</asp:Content>
