﻿<%@ Page Title="Account Profile" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="fesDRManage_2A.aspx.cs" Inherits="SmartsVer1.Account.fesDRManage_2A" %>

<%@ Register Src="~/Control/Account/ctrlFESDRManage.ascx" TagPrefix="uc1" TagName="ctrlFESDRManage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlFESDRManage runat="server" ID="ctrlFESDRManage" />
</asp:Content>
