﻿<%@ Page Title="Account Profile" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="fesSPManage_2A.aspx.cs" Inherits="SmartsVer1.Account.fesSPManage_2A" %>

<%@ Register Src="~/Control/Account/ctrlFESSPManage.ascx" TagPrefix="uc1" TagName="ctrlFESSPManage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlFESSPManage runat="server" ID="ctrlFESSPManage" />
</asp:Content>
