﻿<%@ Page Title="SMARTs Login" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="SMARTAccess2.aspx.cs" Inherits="SmartsVer1.Account.SMARTAccess2" %>

<%@ Register Src="~/Control/Account/ctrlSMARTAccess2.ascx" TagPrefix="uc1" TagName="ctrlSMARTAccess2" %>

<asp:Content ID="Content2" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlSMARTAccess2 runat="server" id="ctrlSMARTAccess2" />
</asp:Content>
