﻿<%@ Page Title="Service Providers" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="rwrSrvProvider_2A.aspx.cs" Inherits="SmartsVer1.SrvProviders.rwrSrvProvider_2A" %>

<%@ Register Src="~/Control/SrvProviders/ctrlSrvProvider.ascx" TagPrefix="uc1" TagName="ctrlSrvProvider" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlSrvProvider runat="server" id="ctrlSrvProvider" />
</asp:Content>
