﻿<%@ Page Title="SMARTs User Accounts" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="fecCRDHR_2A.aspx.cs" Inherits="SmartsVer1.Config.Users.fecCRDHR_2A" %>

<%@ Register Src="~/Control/Config/Users/ctrlClientDRHR.ascx" TagPrefix="uc1" TagName="ctrlClientDRHR" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlClientDRHR runat="server" ID="ctrlClientDRHR" />
</asp:Content>
