﻿<%@ Page Title="User Assignment(s)" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="fecDRHRAssign_2A.aspx.cs" Inherits="SmartsVer1.Config.Users.fecDRHRAssign_2A" %>

<%@ Register Src="~/Control/Config/Users/ctrlHRAssignment.ascx" TagPrefix="uc1" TagName="ctrlHRAssignment" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlHRAssignment runat="server" ID="ctrlHRAssignment" />
</asp:Content>
