﻿<%@ Page Title="User Accounts" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="fesDRHR_2A.aspx.cs" Inherits="SmartsVer1.Config.Users.fesDRHR_2A" %>

<%@ Register Src="~/Control/Config/Users/ctrlUsers.ascx" TagPrefix="uc1" TagName="ctrlUsers" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlUsers runat="server" ID="ctrlUsers" />
</asp:Content>
