﻿<%@ Page Title="Request Demo" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="Demo_2A.aspx.cs" Inherits="SmartsVer1.Support.Demo_2A" %>

<%@ Register Src="~/Control/Support/ctrlDemo_2A.ascx" TagPrefix="uc1" TagName="ctrlDemo_2A" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlDemo_2A runat="server" id="ctrlDemo_2A" />
</asp:Content>
