﻿<%@ Page Title="Frequently Asked Questions" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="FAQ_2A.aspx.cs" Inherits="SmartsVer1.Support.FAQ_2A" %>

<%@ Register Src="~/Control/Support/ctrlFAQ.ascx" TagPrefix="uc1" TagName="ctrlFAQ" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlFAQ runat="server" ID="ctrlFAQ" />
</asp:Content>
