﻿<%@ Page Title="FE Support" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="FESupport_2A.aspx.cs" Inherits="SmartsVer1.Support.FESupport_2A" %>

<%@ Register Src="~/Control/Support/ctrlFESupport_2A.ascx" TagPrefix="uc1" TagName="ctrlFESupport_2A" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlFESupport_2A runat="server" id="ctrlFESupport_2A" />
</asp:Content>
