﻿<%@ Page Title="SMART Support" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="FRequest_2A.aspx.cs" Inherits="SmartsVer1.Support.FRequest_2A" %>

<%@ Register Src="~/Control/Support/ctrlFRequest_2A.ascx" TagPrefix="uc1" TagName="ctrlFRequest_2A" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlFRequest_2A runat="server" id="ctrlFRequest_2A" />
</asp:Content>
