﻿<%@ Page Title="Knowledge Base" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="KB_2A.aspx.cs" Inherits="SmartsVer1.Support.KB_2A" %>

<%@ Register Src="~/Control/Support/ctrlKB.ascx" TagPrefix="uc1" TagName="ctrlKB" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlKB runat="server" id="ctrlKB" />
</asp:Content>
