﻿<%@ Page Title="Privacy Policy" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="Privacy_2A.aspx.cs" Inherits="SmartsVer1.Support.Privacy_2A" %>

<%@ Register Src="~/Control/Support/ctrlPrivacy.ascx" TagPrefix="uc1" TagName="ctrlPrivacy" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlPrivacy runat="server" ID="ctrlPrivacy" />
</asp:Content>
