﻿<%@ Page Title="Request Service" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true"  CodeBehind="ServiceRequest.aspx.cs" Inherits="SmartsVer1.Support.ServiceRequest" %>


<%@ Register Src="~/Control/Support/ctrlServiceRequest.ascx" TagPrefix="uc1" TagName="ctrlServiceRequest" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlServiceRequest runat="server" id="ctrlServiceRequest" />
</asp:Content>