﻿<%@ Page Title="Terms of Service" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="Terms_2A.aspx.cs" Inherits="SmartsVer1.Support.Terms_2A" %>

<%@ Register Src="~/Control/Support/ctrlTerms.ascx" TagPrefix="uc1" TagName="ctrlTerms" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlTerms runat="server" ID="ctrlTerms" />
</asp:Content>
