﻿<%@ Page Title="Configuration" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="fecDRConfig.aspx.cs" Inherits="SmartsVer1.Config.Assets.fecDRConfig" %>

<%@ Register Src="~/Control/Config/Assets/ctrlConfig2.ascx" TagPrefix="uc1" TagName="ctrlConfig2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlConfig2 runat="server" ID="ctrlConfig2" />
</asp:Content>
