﻿<%@ Page Title="SMART Well Dynamics" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="SWDHome.aspx.cs" Inherits="SmartsVer1.SWDHome" %>

<%@ Register Src="~/Control/Display/ctrlDisplay2.ascx" TagPrefix="uc1" TagName="ctrlDisplay2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlDisplay2 runat="server" ID="ctrlDisplay2" />
</asp:Content>
