﻿<%@ Page Title="Operator Companies" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="fecOpCo_2A.aspx.cs" Inherits="SmartsVer1.Config.Clients.fecOpCo_2A" %>

<%@ Register Src="~/Control/Config/Clients/ctrlOpCo_2A.ascx" TagPrefix="uc1" TagName="ctrlOpCo_2A" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlOpCo_2A runat="server" id="ctrlOpCo_2A" />
</asp:Content>
