﻿<%@ Page Title="Clients Configs." Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="fesDRClients_2A.aspx.cs" Inherits="SmartsVer1.Config.Clients.fesDRClients_2A" %>

<%@ Register Src="~/Control/Config/Clients/ctrlClients_2A.ascx" TagPrefix="uc1" TagName="ctrlClients" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlClients runat="server" ID="ctrlClients_2A" />
</asp:Content>
