﻿<%@ Page Title="Geography" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="fecDRGeography_2A.aspx.cs" Inherits="SmartsVer1.Config.Geography.fecDRGeography_2A" %>

<%@ Register Src="~/Control/Config/Geography/ctrlGeography_2A.ascx" TagPrefix="uc1" TagName="ctrlGeography_2A" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlGeography_2A runat="server" ID="ctrlGeography_2A" />
</asp:Content>
