﻿body {
}

/* Grid View */

.mydatagrid
{
	width: 100%;
	border: solid 2px black;
	min-width: 90%;
}
.header
{
	background-color: #646464;
	font-family: Arial;
	color: White;
	border: none 0px transparent;
	height: 30px;
	text-align: center;
	font-size: 12px;
}

.rows {
    background-color: #fff;
    font-family: Arial;
    font-size: 12px;
    color: #000;
    min-height: 15px;
    text-align: left;
    border: 2px solid #808080;
}

    .rows:hover
    {
	    background-color: #ff8000;
	    font-family: Arial;
	    color: #fff;
	    text-align: left;
    }

.AlternatingRowStyle {
    background-color: #ebf2f2;
    font-family: Arial;
    font-size: 12px;
    color: #000;
    min-height: 15px;
    text-align: left;
    border: 2px solid #808080;
}

    .AlternatingRowStyle:hover
    {
	    background-color: #ff8000;
	    font-family: Arial;
	    color: #fff;
	    text-align: left;
    }


.selectedrow
{
	background-color: #ff8000;
	font-family: Arial;
	color: #fff;
}
.mydatagrid a /** FOR THE PAGING ICONS  **/
{
	background-color: Transparent;
	padding: 5px 5px 5px 5px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.mydatagrid a:hover /** FOR THE PAGING ICONS  HOVER STYLES**/
{
	background-color: #F4CBEB;
	color: #fff;
}
.mydatagrid span /** FOR THE PAGING ICONS CURRENT PAGE INDICATOR **/
{
	background-color: #c9c9c9;
	color: #000;
	padding: 5px 5px 5px 5px;
}
.pager
{
	background-color: #646464;
	font-family: Arial;
	color: White;
	height: 15px;
	text-align: left;
    font-size: 12px;
}

.mydatagrid td
{
	padding: 5px;
}
.mydatagrid th
{
	padding: 5px;
    text-align: center;
}

/* Update Panel Progress */
.modalProg {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 80%;
    width: 100%;
    z-index: 999; 
    background-color: rgba(255, 255, 255, 0.80);
    -moz-opacity: 0.8;
    opacity: 0.8;
    text-align: center;
}

.updateProgress {
    display: inline-block;
    padding-top: 20%;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 100%;
    min-width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #e4e4e6;
    z-index: 500 !important;
    opacity: 0.8;
    overflow: hidden;
}

