﻿<%@ Page Title="Error 404 !!!" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="Error404.aspx.cs" Inherits="SmartsVer1.Errors.Error404" %>

<%@ Register Src="~/Control/Errors/ctrlError404_2A.ascx" TagPrefix="uc1" TagName="ctrlError404_2A" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlError404_2A runat="server" id="ctrlError404_2A" />
</asp:Content>
