﻿<%@ Page Title="!!! Error !!!" Language="C#" MasterPageFile="~/SMART2.Master" AutoEventWireup="true" CodeBehind="OtherErrors.aspx.cs" Inherits="SmartsVer1.Errors.OtherErrors" %>

<%@ Register Src="~/Control/Errors/ctrlOtherErrors_2A.ascx" TagPrefix="uc1" TagName="ctrlOtherErrors_2A" %>

<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
    <uc1:ctrlOtherErrors_2A runat="server" id="ctrlOtherErrors_2A" />
</asp:Content>
